@font-face {
  font-family: "Gentium Plus Book";
  src: url("./fonts/subset_extended_latin_GentiumBookPlus_Regular.woff2")
    format("woff2");
  font-weight: 400;
  unicode-range: U+0020-00BF;
  font-display: swap;
}
@font-face {
  font-family: "Gentium Plus Book";
  src: url("./fonts/subset_extended_latin_GentiumBookPlus_Bold.woff2")
    format("woff2");
  font-weight: 700;
  unicode-range: U+0020-00BF;
  font-display: swap;
}
@font-face {
  font-family: "Gentium Plus";
  src: url("./fonts/subset_extended_latin_GentiumPlus_Italic.woff2")
    format("woff2");
  unicode-range: U+0020-00BF;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/subset_latin_NotoSans_ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  unicode-range: U+0020-00BF;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("./fonts/subset_latin_NotoSans_Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif JP";
  src: url("./fonts/subset_extended_latin_NotoSerifJP_ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  unicode-range: U+0020-00BF;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif JP";
  src: url("./fonts/subset_extended_latin_NotoSerifJP_Regular.woff2")
    format("woff2");
  font-weight: 400;
  unicode-range: U+0020-00BF;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif JP CJK";
  src: url("./fonts/subset_cjk_NotoSerifJP_ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  unicode-range: U+3000-312F, U+3300-9FFF, U+F900-FAFF;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif JP CJK";
  src: url("./fonts/subset_cjk_NotoSerifJP_Regular.woff2")
    format("woff2");
  font-weight: 400;
  unicode-range: U+3000-312F, U+3300-9FFF, U+F900-FAFF;
  font-display: swap;
}
@font-face {
  font-family: "Noto Serif JP";
  src: url("./fonts/subset_latin_NotoSerifJP_Bold.woff2")
    format("woff2");
  font-weight: 800;
  unicode-range: U+0020-00BF;
  font-display: swap;
}
@font-face {
  font-family: "Exocet";
  src: url("./fonts/Exocet_Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Cormorant Garamond";
  src: url("./fonts/CormorantGaramond-Regular.subset.woff2")
    format("woff2");
  font-weight: 400;
  unicode-range: U+0041-005A;
  font-display: swap;
}
