.root {
  margin: 0 14px;

  @media (min-width: 768px) {
    margin: 0 auto;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.header-container {
  margin: 56px 0 21px;

  @media (min-width: 768px) {
    grid-column: span 4;
  }
}
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.nav-link-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.nav-link {
  font-size: 21px;
  font-family: "Alegreya";
}
.publication-title {
  font-family: "Abril Fatface";
  font-size: 21px;
}
.header-border {
  height: 8px;
  width: 100%;
  border-top: solid 2px var(--dark);
  border-bottom: solid 1px var(--dark);
}
