.siteHeader_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;
  padding: 4px 0 8px;

  > div {
    @media (min-width: 768px) {
      width: fit-content;
      display: flex;
      gap: 12px;
    }

    > a {
      font-family: "Gentium Plus Book", serif;
      font-size: 14px;
      line-height: 24px;

      @media (min-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  > a {
    font-size: 14px;
    line-height: 24px;
    font-family: "Noto Serif JP", serif;
    font-weight: 800;

    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.siteHeader_divider {
  margin: 4px 0 0;
  border-top: solid 2px;
  border-bottom: solid 1px;
  height: 8px;

  @media (min-width: 768px) {
    margin: 8px 0 0;
  }
}
